{% extends 'webdriver/base.html' %}

{% block title %} 常用网址 {% endblock %}

{% block content %}
<div class="uk-text-center">
	<div class="uk-block uk-grid uk-container-center"  >
		<div class="uk-width-1-6"><span>网址一：</span><a href="#">url1</a></div>
	    <div class="uk-width-1-6"><span>网址二：</span><a href="#">url2</a></div>
	    <div class="uk-width-1-6"><span>网址三：</span><a href="#">url3</a></div>
	</div>
	<div class="uk-block uk-grid uk-container-center" >
		<div class="uk-width-1-6"><span>网址一：</span><a href="#">url1</a></div>
	    <div class="uk-width-1-6"><span>网址二：</span><a href="#">url</a></div>
	    <div class="uk-width-1-6"><span>网址三：</span><a href="#">url3</a></div>
	</div>
	<div class="uk-block uk-grid uk-container-center" >
		<div class="uk-width-1-6"><span>网址一：</span><a href="#">url1</a></div>
	    <div class="uk-width-1-6"><span>网址二：</span><a href="#">url2</a></div>
	    <div class="uk-width-1-6"><span>网址三：</span><a href="#">url3</a></div>
	</div>
</div>
{% endblock %}